.user-form {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submit-button {
  background: #5DD669;
  color: #fff;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.submit-button:hover {
  background: #5DD66980;
}

.submit-button:disabled {
  background: #5DD66980;
  pointer-events: none;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}